<%- include('partials/header') %>
<h1><%= title %></h1>
<form method="POST">
  <div class="form-group">
    <label for="passcode">Passcode</label>
    <input id="passcode" name="passcode" placeholder="Enter passcode" type="password" class="form-control" />
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>

<% if (errors && errors.length > 0) { %>
  <ul>
    <% errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<%- include('partials/footer') %>
